table, th, td {
    border: 3px ridge #121212;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

th {
    color: white;
    background-color: #121212;
}

h1 {
    text-align: center;
}







